# This is a comment (empty lines are also ignored)

# This line will add "Blob" to the "New" submenu of the "File" menu.
# Clicking on "Blob" will call the plugin class "my.test.Test"

Plugins>Embryo Segmentation, "Weka Segmentation Stage", WekaSegmentation_Stage
Plugins>Embryo Segmentation, "Thresholding Stage", Threshold_Stage
Plugins>Embryo Segmentation, "Boundry Detection Stage" Boundry_Stage
Plugins>Embryo Segmentation, "Level Set Stage", LevelSet_Stage